{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-inferrable-types": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-var": "error",
    "@typescript-eslint/no-use-before-define": "warn",
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/ban-ts-comment": "warn",
    "no-console": "warn",
    "no-constant-condition": "warn",
    "no-debugger": "warn",
    "no-duplicate-imports": "warn",
    "no-empty": "warn",
    "no-extra-boolean-cast": "warn",
    "no-extra-semi": "warn",
    "no-fallthrough": "warn",
    "no-irregular-whitespace": "warn",
    "no-multiple-empty-lines": "warn",
    "no-redeclare": "warn",
    "no-return-await": "warn",
    "no-unreachable": "warn",
    "no-unsafe-finally": "warn",
    "no-unsafe-negation": "warn",
    "no-unsafe-optional-chaining": "warn",
    "no-unused-expressions": "warn",
    "no-useless-escape": "warn",
    "no-var": "error",
    "prefer-const": "warn",
    "prefer-template": "warn",
    "quote-props": ["warn", "consistent-as-needed"],
    "radix": "warn",
    "require-await": "warn",
    "semi": ["warn", "always"],
    "space-before-function-parens": ["warn", "always"]
  }
}